/* CSS Stylesheet for global styles */
html{
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}


#root{
  max-width: 100%;
  width:100%;
}

.main-content{
  flex: 1;
}

.page-main{
  background-color: #f2f2f7;
  flex:1;
  margin:30px;
  padding:10px;
}

main{
    background: none;
}
