/* CSS Stylesheet for dashboard specific components */
.battery{
    display:flex;
    flex-Direction:row;
    justify-Content:space-around;
    background:white;
    border-Radius:10px;
    padding:1%;

}